.git
.github
.DS_Store

composer.phar
composer-setup.php

**/.env
**/.env.local
**/.env.*.local
!**/.env.example
!**/.env.production.example

**/vendor
**/node_modules
**/dist
**/build
**/.phpunit.result.cache

www/service.antifraud.local.com/storage/logs/*
www/service.storage.company.com/storage/logs/*
www/service.antifraud.local.com/storage/framework/cache/*
www/service.storage.company.com/storage/framework/cache/*
